<h1>The Troop's Camping Trip on <%= @trip.date %></h1>


<h1> Location of Trip: <%= @trip.location%></h1>


<h2><%= link_to "Click Here to add a new camping record for yourself", new_scout_trip_path(current_scout.id) %></h2><br>
<h2><%= link_to "Click Here to view all of the Troop's Camping Record", trips_path %></h2><br>