<h1>The Troop's Camping Trip on <%= @trip.date %></h1>


<h1> Location of Trip: <%= @trip.location%></h1>


<h2><%= link_to "Click Here to view all of the Troop's Camping Record", trips_path %></h2><br>