<h1>Welcome to MyTrail</h1>

<h2>A fun and easy way to track your Scouting advancement.</h2>

You can use this application to track your camping trips and see all of the camping activity accross the troop.
You can also update the Merit badge records for you or any Scout in the troop and see all of the recent Merit badges earned accross the Troop.

Sign Up or Login to begin.
