<h1> Here is a list of all merit badges that can be earned: </h1>


        <% @badges.each do |badge| %>
            <li><%= link_to badge.name, badge_path(badge.id) %></li>
        <% end %>

        <h2>Click each one to learn more.</h2>

        <br><h2><%= link_to "Add a new Merit Badge to the advancement report", new_scout_badge_path %></h2><br>