<h1> Here is a list of all merit badges that can be earned: </h1>


        <% @badges.each do |badge| %>
            <li><%= link_to badge.name, badge_path(badge) %></li>
        <% end %>

        Click each one to learn more.