<% if @scout %>

    <h1> Please see below for a list of your camping trips.</h1>

    <ul>

        <% @trips.each do |trip| %>

            <li><%= link_to trip.location, scout_trip_path(@scout, trip) %></li>
            <br><br>

        <% end %>

    </ul>


<% else %>


    <h1> Troop's camping record: </h1>


        <% @trips.each do |trip| %>
            <li><%= link_to trip.location, trip_path(trip) %></li>
            Date : <%= trip.date %>
        <% end %>


<% end %>