<h1>Find all of the scouts in the troop below:</h1>


<ul>

    <% @scouts.each do |scout| %>

        <%= scout.first_name %> <%= scout.last_name %> (<%= scout.rank%>) <br> AKA:
        <%= link_to scout.username, scout_path(scout) %>

        <br><br>

    <% end %>

</ul>